.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #222831;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #29a19c;
    color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

#email{
    color: blanchedalmond;
}

.navbar-dark{
    background-color: #222831;
    color: blanchedalmond;
}
.nav-item:hover{
    background-color:  rgb(255, 197, 109);
}

.nav-link{
    background-color: #222831;
    color: blanchedalmond;
}
.nav-link:hover{
    background-color:  rgb(255, 197, 109);
    color: #222831;
}
#b{
    font-weight: bold;
    color: gray;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}