$lt-gray: #ddd;
$background-light: #29a19c;
$background-dark: #222831;
$background-pale: #D1C4E9;
$background-dpurple:#512DA8;
$background-lpurple:#9575CD;
$txt-flrlwht:floralwhite;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: $background-dark;
    @include zero-margin(20px, 0px);
    color: white;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: $background-dark;
     color: blanchedalmond;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 30px;
}

.nav-item:hover{
    background-color:  rgb(255, 197, 109);
}

.nav-link{
    background-color: #222831;
    color: blanchedalmond;
}
.nav-link:hover{
    background-color:  rgb(255, 197, 109);
    color: #222831;
}

#b{
    font-weight: bold;
    color: gray;
}

.btn-sm{
    width: 80%;
}

.modal-header{
    background-color: $background-dpurple;
    color: $txt-flrlwht;
    .close{
        color: $txt-flrlwht;
    }
}

.modal-body{
    background-color: $background-pale;
}
